:root {
  --black: 	#21252a;
  --grey-1: #343A40;
  --grey-2: #495057;
  --grey-3: #868E96;
  --grey-4: #ADB5BD;
  --grey-5: #CED4DA;
  --grey-6: #DEE2E6;
  --grey-7: #E9ECEF;
  --grey-8: #F1F3F5;
  --grey-9: #F8F9FA;

  --trans-black: rgba(33, 37, 42, .9);

  --red: #e10600;

  --gold: #ffda65;
  --gold-dark: #a3862c;
  --bronze: #c99355;
  --bronze-dark: #80582c;
}


table.leaderboard {
  width: 100%;
  border-spacing: 0;
  color: var(--grey-3);
  margin: 0;
  padding: 0;

}

/* The animation code */
@keyframes highlight {
  0% {
    background-color: white;
  }
  100% {
    background-color: green;
  }
}

.leaderboard-row {

  //background: var(--grey-7);
  transition: all 300ms ease;
  cursor: pointer;
  font-weight: bold;

  &:hover, &:focus {
    transform: scale(1.02);
    box-shadow: 0px 15px 28px rgba(black, .1), 0px 5px 12px rgba(black, .08);
    transition: all 300ms ease;
  }

  &:not(:last-of-type) {
    .list__cell {
      box-shadow: 0px 2px 0px rgba(black, .08);
    }
  }

  &:first-of-type {
    color: var(--gold-dark);
    //background: var(--grey-9);
    .list__cell:first-of-type {
      background: var(--gold);
      color: var(--gold-dark);
    }
  }
  &:nth-of-type(2) {
    color: var(--grey-2);
    //background: var(--grey-9);
    .list__cell:first-of-type {
      background: var(--grey-4);
      color: var(--grey-2);
    }
  }
  &:nth-of-type(3) {
    color: var(--bronze-dark);
    //background: var(--grey-9);
    .list__cell:first-of-type {
      background: var(--bronze);
      color: var(--bronze-dark);
    }
  }

  &.active {
    background-color: green !important;
    color: #fff;
    animation-name: highlight;
    animation-duration: 2s;
  }

  td {
    padding:1rem;
    &:first-of-type {
      text-align: center;
      padding: 1rem .2rem;
      //background: var(--grey-5);
    }
  }

  .position {
    width: 60px;
  }

  .watch {
    width: 60px;
  }

  .name {
    flex: 1;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .text-container {
      flex: 1;
      line-height: 50px;

      @media only screen and (max-width: 600px) {
        max-width: 210px;
      }

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .text {
        font-size: 20px;
      }

      .more-info {
        font-size: 1rem;
        display: block;
        height: 0px;
        overflow: hidden;
        transition: all 1s;

        &.open {
          height: 180px;
        }

        .stats-container {
          flex: 0.5;
          line-height: 1.5em;
        }

        .your-bots-fights {
          flex: 0.5;

          table {
            tr {
              line-height: 2em;
            }
            td, th {
              padding: 0;
              max-height: 1.3em;
              border: none;
              font-size: 14px;

              &.bot-name {
                text-align: left;
                background-color: transparent;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                @media only screen and (max-width: 600px) {
                  max-width: 50px;
                }

              }
            }
          }
        }

      }
    }

    .team {
      width: 120px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      margin-right: 10px;

      .soldier {
        //float:right;
        font-size: 10px;
        width: 30px;
        height: 30px;
        background-color: #eee;
        border: 1px solid white;
        margin: 5px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .wins {
      &__value {

        font-size: 14px;
      }
    }

    .ties {
      &__value {

        font-size: 14px;
      }
    }

  }

  .username {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }





  .points {
    text-align: center;
    width: 80px;

    &__value {
      font-size: 18px;
    }
    &__label {
      font-size: 10px;
    }
  }

  /*display: block;*/
}

.watch-container {
  .watch-icon {
    margin-left: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
  }
}
