header {
  padding: 0.5em 0.5em 0;
  display: flex;

  .header-logo {
    height: 40px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 0;

    li {
      margin: 0 0.5em;
      list-style: none;
    }
  }

}

.Arwes-main-0-1-5 {
  display: flex !important;
  flex-direction: column;
  // hack for react-joyride
  overflow-y: scroll !important;
}

code {
  color: #fff;
}


