@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// Override default variables before the import
@import './variables.scss';


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  background-color: #eee;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
}

h1, h2, h3 {
  font-family: Bungee, sans-serif;
}

button {
  font-family: Bungee, sans-serif;
}

.section-title {
  padding: 1em 0;
}

code {
  color: map-get($theme-colors, 'primary');
}

