@import '../../variables.scss';


.editor-actions {
  display: flex;
  height: 40px;
  flex-direction: row;


  button {
    //display: block;
    //flex: 1;
    //border-radius: 0;
    //border: 1px solid lighten(map_get($theme-colors, 'primary'), 10%);
    text-align: center;
    width: 100%;

    &.btn-selected {
      background-color: darken(map_get($theme-colors, 'primary'), 10%);
    }
  }

  .select {
    &__control {
      color: map_get($theme-colors, 'primary')
    }
    &__option {
      color: map_get($theme-colors, 'primary')
    }
  }

  .fight-select-pane {

    z-index: 10;
    position: absolute;
    margin-top: -500px;
    height: 500px;
    width: 100%;
    background: map_get($theme-colors, 'primary');
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;


    > div {
      flex: 1;
      //padding: 1em;
      border-top: 1px solid lighten(map_get($theme-colors, 'primary'), 10%);
      border-bottom: 1px solid darken(map_get($theme-colors, 'primary'), 10%);

      &.row {
        margin: 0;
      }

      p {
        margin-bottom: 0;
        //text-transform: uppercase;
        //font-weight: bold;
        font-family: 'Titillium Web';
        color: lighten(map_get($theme-colors, 'primary'), 50%);

        .ready {

        }
      }

    }
  }

  .choice-content {
    padding-left: 1em;

    &>div {
      display: flex;
      &>div {
        flex: 1;
      }
    }
  }

}
