
@import '../variables';

.head-box {
  padding: 2rem 4rem;
  background-color: map-get($theme-colors, 'primary');
  color: #fff;

  h1 {
    font-family: Bungee, sans-serif;
  }

  button {
    font-family: Bungee, sans-serif;
  }

  .subtitle {
    margin-top: 8em;
  }

}
