
@import '../variables';

.head-box {
  padding:0;
  background-color: map-get($theme-colors, 'primary');
  color: #fff;
  margin-bottom: 2rem;
  background-image: url('../images/cover/header-bg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;

  animation-name: bgrumble;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  #storm {
    position: absolute;
    height: 100%;
  }

  .big-logo {
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 100%;
      width: 100%;

      animation-name: logoshake;
      animation-duration: 1s;
      animation-delay: 2s;
    }

  }

  h1 {
    font-family: Bungee, sans-serif;
  }

  button {
    font-family: Bungee, sans-serif;
  }

  .subtitle {
    margin-top: 8em;
  }

}

@media (max-width: 575.98px) {
  .head-box .subtitle {
    margin-top: 1em;
  }
}


.claim-box {
  margin: 2rem 0;

  img {
    max-width: 100%;
  }

}




@keyframes bgrumble {
  from {
    background-position: top;
  }
  to {
    background-position: bottom;
  }
}


@keyframes logoshake {



  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
