@import '../../variables';

.battle-container {
  max-height: 100%;
  display: flex;
  flex-direction: column;

  .turns-container {
    flex: 1;
    overflow-y: scroll;

    .end-fight-container {
      margin-left: 0;
      margin-right: 0;
      transition: color 250ms ease-out;
      text-shadow: 0 0 4px rgba(161,236,251,0.65);

      .winner-name {
        text-transform: uppercase;
      }
    }
  }

  .actions-container {
    background-color: map_get($theme-colors, 'primary');
    height: 40px;

    button {
      color: #fff;

      &.active {
        color: lighten(map_get($theme-colors, 'primary'), 10%);
      }
    }
  }

  .trophy-container {
    text-align: center;
    font-size: 4em;
  }
}
