.bot-card {
  margin-bottom: 10px;
  text-align:center;

  a {
    font-family: Bungee, sans-serif;
  }

  .icon-box {
    color: #eeeeee;
    font-size: 4em;
    text-align: center;

    img{
      width: 80px;
      height: 80px;
      margin: 10px
    }

    a {
      color: #eee;
    }
  }
}
