@import '../../variables.scss';

.api-container {
  font-size: 16px;
  width: 100%;

  .api-content {
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    min-height: 100%;
  }

  code {
    //color: map_get($theme_colors, 'theme_clear')
    color: #fff;
  }


  .apis-title {
    background-color: map_get($theme_colors, 'primary');
    height: 40px;
    color: #fff;
    line-height: 40px;
    padding-left: 1em;
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  ul.apis-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li.active {
      button {
        background-color: map_get($theme_colors, 'theme_clear');
        color: map_get($theme_colors, 'primary');
      }
    }

  }

  .welcome-content {
    font-size: 20px;
  }

}
