@import '../variables.scss';

.callback-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;

}

@keyframes loader {
  0% { offset-distance: 0%; }
  100% { offset-distance: 100%; }
}
