
@import '../variables';

.footer {
  padding: 2rem 2rem;
  background-color: map-get($theme-colors, 'primary');
  color: #fff;
  font-size: 0.7em;

  nav {

    ul {
      list-style: none;
    }

    a {
      color: white;
    }

  }
}

.footer-nav {

  text-align: center;

  ul {


    li {

      a {
        font-size: 1.5em;
        color: lighten(map_get($theme_colors, 'primary'), 20);
      }

    }
  }


}
