.section-title {
  color: #a1ecfb;
  margin: 0 0 20px;
  transition: color 250ms ease-out;
  font-family: "Electrolize", "sans-serif";
  font-weight: bold;
  text-shadow: 0 0 4px rgba(161,236,251,0.65);
  text-transform: uppercase;
}
